/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* height  */
.height100 {
    height: 100px;
}
.height880 {
    height: 880px;
}

.height600 {
    height: 600px;
}
.plum {
    background-color: plum;
}

.purple {
    background-color: purple;
}

/* COMMON */
body {
    font-family: 'Open Sans',sans-serif;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    
}
section {
    padding-top: 100px;
}

hr {
    background-color: #d8d8db;
}

.common-title-big {
    font-size: 31px;
    font-weight: 800;
}

.common-title-medium {
    font-size: 21px;
    font-weight: 800;
}

.common-title-small {
    font-size: 12px;
    font-weight: 800;
}

.text-gray {
    color: #687785;
}

.text-blue {
    color: #0c68ff;
}

.text-normal {
    font-size: 13px;
    font-weight: normal;
}

.text-small {
    font-size: 11px;
}

.text-smaller {
    font-size: 8px;
}


.text-white {
    color: white;
}

.underline {
    text-decoration: underline;
}

.hr-small {
    background-color: #d8d8db;
    width: 30%;
}

.btn-radius {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

.btn-radius-blue {
    border: solid #0061ff 4px;
}

.btn-radius-gray {
    border: solid #d8d8db 1.5px;
}

.btn {
    font-size: 13px;
    padding: 4px 15px;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
}

.btn-radius:hover {
    cursor: pointer;
}

.blue {
    background-color: #0061ff;
    color: white;

}

.white {
    background-color: white;
    border: solid;
}


/* column general*/
.col {
    float: left;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


.container-80 {
    width: 85%;
    margin: auto;
}

.container-70 {
    width: 70%;
    margin: auto;
}

/* HEADER */
/* navbar */
.navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: white;
    z-index: 2;
}

.menu-links-sx > li > a:hover {
    text-decoration: underline;
    text-underline-offset: 22px;
    text-decoration-thickness: 2px;
}

.menu-links-dx > li > a:hover {
    text-decoration: underline;
    text-underline-offset: 22px;
    text-decoration-thickness: 2px;
}

/* prima colonna */
.col-logo {
    width: 12%;
    line-height: 50px;

}

.img-logo {
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.col-links-sx {
    width: 25%;
    margin-right: 26%;
    text-align: center;
    line-height: 60px;
}

.menu-links-sx li{
    display: inline-block;

}

.menu-links-sx a {
    margin: 0 10px;
    color: black;
    font-size: 13px;
}

/* seconda colonna */
.col-links-dx {
    width: 27%;
    text-align: center;
    line-height: 60px;
}

.menu-links-dx li{
    display: inline-block;


}

.menu-links-dx a {
    margin: 0 10px;
    color: black;
    font-size: 13px;
}

/* terza colonna */
.col-inizia {
    width: 10%;
    text-align: center;
    line-height: 60px;
}

.jumbotron {
    background-color: #b4d0e7;

}

/* MAIN */
/* jumbotron */
.title-jumbotron{
    font-size: 60px;
    padding-bottom: 30px;
}
/* immagine jumbotron */
.col-img-jumbotron {
    width: 63%;
}

.img-jumbotron {
    width: 90%;
}

/* testo jumbotron */
.col-text-jumbotron {
    width: 27%;
    margin-right: 10%;
}

.container-try-for-free {
    margin: 20px 0;
}


.choose-plan {
    margin: 35px 0;
}

.plan {
    margin-right: 15px ;
}

/* column business plan */
.col-singolo-professional {
    width: 30%;
    display: inline-block;
    text-align: center;
}

.col-team-standard {
    width: 30%;
    margin:0 5%;
    display: inline-block;
    text-align: center;
}


.col-team-advanced {
    width: 30%;
    display: inline-block;
    text-align: center;
}

.col-team-enterprise {
    width: 100%;
    display: inline-block;
    text-align: center;
}


.style-border {
    border: solid #d8d8db;
}

.style-border-bottom {
    border-bottom: solid #d8d8db;
}

.fa-building,
.fa-user {
    margin: 15px 0;
}

.fa-user,
.fa-folder,
.fa-pencil-alt {
    margin-left: -20px;
}

.icon-text-container {
    padding-left: 20px;
}

.fa-check {
    color: #0061ff;
}

.container-left-align {
    text-align: left;
    margin: 20px;
}

.month {
    padding-bottom: 25px;
}

.space {
    padding: 10px 0;
}

.function {
    padding: 10px 0 40px 0;
}

.buy-now {
    padding: 20px 0;
}

.highlights {
    padding: 30px 0 10px 0;
}

.check {
    padding: 10px 0;
}

.columns {
    margin-bottom: 40px;
}

.col-enterprise-left {
    width: 70%;
}

.col-enterprise-right {
    width: 30%;
}

.enterprise {
    padding: 20px;
}

.padding-titles{
    padding: 15px 0 10px 0;
}

/* find a partner section */
.col-find-a-partner-img {
    width: 50%;
}
.col-find-a-partner-text {
    width: 50%;
}


.col-find-a-partner-text {
    text-align: left;
    padding: 30px;

}

.find-a-partner-title {
    padding-bottom: 20px;
}

.find-a-partner-paragraph {
    line-height: 25px;
    padding-bottom: 20px;
}

/* operation section part */

.operation-title {
    margin-bottom: 30px;
}

.operation-row-1 {
    margin-bottom: 40px;
}

.col-operation-1 {
    width: 30%;
}

.col-operation-2 {
    width: 30%;
    margin:0 5%;
}

.col-operation-3 {
    width: 30%;
}

.col-operation-4 {
    width: 30%;
}

.col-operation-5 {
    width: 30%;
    margin:0 5%;
}

.col-operation-6 {
    width: 30%;
}

/* Team section */

.dropbox-team-title {
    text-align: left;
    padding: 20px 430px 20px 0;
}
.blue-link {
    color: #156eff;
}

.paragraph-team-find-out {
    padding: 20px 0;
}

.team-row-1 {
    height: 300px;
    width: 100%;
}

.col-team-box-left-and-right {
    width: 350px;
    height: 350px;
}

.col-50 {
    width: 50%;    
    text-align: center;
    vertical-align: middle;
    line-height: 175px;
}
.box-img {
    display: inline-block;
    width: 50%;
    height: 50%;  
    text-align: center;  
    filter: invert(1);
}
/* sfondi boxes */

.up-left-box-left {
    background-color: #d0e9cd;
}

.border-box {
    display: inline-block;
    vertical-align: middle;
    /* background-color: #a2d39b; */
    background-color: #a2d39b;
    width: 90%;
    height: 157.5px;

    
    
}

.up-right-box-left {
    background-color: #61082b;
}

.down-left-box-left {
    background-color: #0093ce;
}

.down-right-box-left {
    background-color: #ff1c1c;
}

.up-left-box-right {
    background-color: #d5001f;
}

.up-right-box-right {
    background-color: #b4d0e7;
}

.down-left-box-right {
    background-color: #0d2481;
}

.down-right-box-right {
    background-color: #ffd830;
}




.col-team-central {
    width: calc(100% - 700px);
    height: 350px;
    padding: 40px;
    background-color: #f5f5f5;
}

.box-img-central {
    width: 25%;
}

.hr-box-central {
    width: 50px;
    margin: 20px 0;
}

.firma-box-central {
    padding: 50px 0;
}
.team-row-2 {
    height: 260px;
    width: 100%;
    background-color: #b4d0e7;
    display: inline-block;
    text-align: center;
    vertical-align: middle;  
    padding-top: 100px;
}

.team-title {
    color: #61082b;
    display: inline-block;
}

.start-free-trial {
    display: inline-block;
    border-color: white;
    padding: 3px 30px;
}

.col-team-row-2-text {
    width: 40%;
    margin-right: 20%;
    text-align: left;
    
}

.col-team-row-2-btn {
    width: 40%;
}
/* section faq */
.faq-title {
    padding-bottom: 20px;
}

.hr-faq {
    margin: 30px 0;
}

/* FOOTER */

footer {
    background-color: black;
    margin-top: 120px;
}

.footer-container {
    padding: 90px 0 40px 0;
    line-height: 25px;
}
.col-footer-links {
    width: 20%;
    color: white;
}
.footer-links-list > li > a {
    color: white;
}

.hr-footer {
    margin: 90px 0 40px 0;
    margin-right: 90%;
    background-color: #727272;
}
.footer-title-links {
    padding: 20px 0;
}

.footer-language {
    color: #727272;
}